.gInfoMain {
    header {
        display: flex;
        margin: 5px;

        
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: linear-gradient(to bottom, white, rgb(221, 221, 221));
            padding: 20px;
            margin: 5px;
            box-shadow: 2px 2px 5px rgb(44, 44, 44);
            width: 12vw;
            cursor: pointer;
        }

        article:hover {
            background: linear-gradient(to bottom, rgb(212, 212, 212), rgb(141, 141, 141));
            color: white
        }
    
        .artTitle {
            font-size: 18px;
            font-weight: 600;
            color: grey;
        }
    
        .artValue {
            font-size: 30px;
        }
    }

    .gITable {
        margin: 10px;
        background: linear-gradient(to bottom, white, rgb(221, 221, 221));
        width: 95%;
        max-width: 700px; /* Limita a largura máxima */
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    
        table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
    
            thead {
                background-color: #2A2D34;
                color: white;
    
                th {
                    text-align: center;
                    padding: 10px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 0.9em;
                }
            }
    
            tbody {
                td {
                    background-color: #F7E6D7;
                    padding: 10px;
                    text-align: center;
                    font-size: 0.9em;
                    color: #333;
                }
            }
        }
    }    
}

.genChartsMain {
    margin: 5px;
    width: 46vw;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;


    h4 {
        color: grey;
    }
}