body {
    overflow-x: hidden;
}

h1 {
    color: #C4423B;
    font-size: 35px;
}

*::-webkit-scrollbar {
    background-color: rgb(223, 223, 223);
    width: 5px;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #C4423B;
    border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
    list-style-type: none;
    border-left: #C4423B solid;
    margin-left: 3vw;
    padding-left: 10px;
    overflow-x: hidden;
    animation: ulExpands 0.5s linear;
}

li {
    list-style-type: none;
    margin: 5px;
}

table {
    animation: tableEntrance 0.3s linear;
}

th:hover {
    color: rgb(247, 93, 93);
    cursor: default;
    user-select: none;
}

.dateKey {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.homeMain {
    display: flex;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(245, 244, 244), rgb(189, 189, 189));

    & sidebar {
        background-color: #c4423b;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 5vw;
        z-index: 1000;
    }

    & .iconTextWrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        margin: 5px;
        width: 2.5vw;
        border-radius: 5px;
        transition: ease-in-out 0.05s;
        background-color: #e65c55;
        color: white;

        & div {
            display: none;
            left: 4vw;
            position: absolute;
            border-start-end-radius: 5px;
            border-end-end-radius: 5px;
            background-color: #f37f79;
            padding: 15.1px;
            transition: ease-in-out 0.2s;
            white-space: nowrap;
            animation: expands 0.2s linear;
            z-index: 1000;
        }
    }

    & .iconTextWrapper:hover {
        background-color: #f37f79;
        & div {
            display: block;
            cursor: pointer;
        }
    }

    & .generalInfo {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;

        & .giHeader {
            display: flex;
            align-items: center;
            background-color: #ebebeb;
            justify-content: space-between;
            padding: 15px 5px;

            & .gihGreetings, .gihCapital {
                font-size: 30px;
                font-weight: 500;
                cursor: default;
                user-select: none;
            }

            & .gihCapital {
                color: #C4423B;
            }
        }

        & .giTitle {
            background-color: rgb(255, 255, 255);
            font-size: 25px;
            padding: 10px;
        }
    }

    & .info {
        display: flex;
        
        & .singularInfo {
            width: 44vw;
            margin: 5px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

.histMain header {
    display: flex;
    align-items: center;

    h2 {
        color: grey;
    }
}

.historyForm {
    display: flex;
    align-items: center;
    margin: 5px;

    input {
        width: 10vw;
        margin: 5px;
        outline-color:#e65c55;
    }
}

.emptyMain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.empty {
    font-size: 20vw;
    color: #f5857f;
    opacity: 0.5;
}

@keyframes tableEntrance {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes expands {
    from {
      max-width: 0;
    }
  
    to {
      max-width: 500px;
    }
}

@keyframes ulExpands {
    from {
        max-height: 0;
        overflow: hidden;
    }

    to {
        max-height: 80vh;
        overflow: hidden;
    }
}

/* Adicionando Media Queries para responsividade */

@media (max-width: 768px) {
    /* Ajuste de tamanhos e posicionamento para telas pequenas */

    h2 {
        font-size: 20px;
    }

    .homeMain {
        display: flex;
        flex-direction: column;

        .iconTextWrapper {
            width: 5vw;
            padding: 5px 10px;
            font-size: 15px;
    
            div {
                display: none !important;
            }
        }

        sidebar {
            width: 100%;
            padding: 5px;
            height: 50px;
            flex-direction: row;
            justify-content: space-around;
        }

        .singularInfo {
            display: none;
        }
    }

    .generalInfo {
        width: 100%;
    }

    .giHeader {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .gihCapital {
        margin: 5px;
    }

    .giTitle {
        font-size: 20px;
        text-align: center;
    }

    table {
        font-size: 12px;
        width: 100%;
    }

    th, td {
        padding: 8px;
    }

    .empty {
        font-size: 40vw;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 25px;
    }

    .homeMain sidebar {
        width: 100%;
        height: 40px;
        flex-direction: row;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .generalInfo {
        width: 100%;
    }

    .giHeader {
        padding: 10px;
    }

    .iconTextWrapper {
        width: 15vw;
        padding: 8px;
    }

    .giTitle {
        font-size: 18px;
    }

    table {
        font-size: 10px;
    }

    .empty {
        font-size: 50vw;
    }

    .histMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

    }
}
