body {
    overflow-x: hidden;
}

h1 {
    color: #C4423B;
    font-size: 35px;
}

*::-webkit-scrollbar {
    background-color: rgb(223, 223, 223);
    width: 5px;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #C4423B;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    border-left: #C4423B solid;
    margin-left: 3vw;
    padding-left: 10px;
    overflow-x: hidden;
    animation: ulExpands 0.5s linear;
}

li {
    list-style-type: none;
    margin: 5px;
}

table {
    animation: tableEntrance 0.3s linear;
}

.homeMain {
    display: flex;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(245, 244, 244), rgb(189, 189, 189));

    & sidebar {
        background-color: #c4423b;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 5vw;
        z-index: 1000;
    }

    & .iconTextWrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        margin: 5px;
        width: 2.5vw;
        border-radius: 5px;
        transition: ease-in-out 0.05s;
        background-color: #e65c55;
        color: white;

        & div {
            display: none;
            left: 4vw;
            position: absolute;
            border-start-end-radius: 5px;
            border-end-end-radius: 5px;
            background-color: #f37f79;
            padding: 15.1px;
            transition: ease-in-out 0.2s;
            white-space: nowrap;
            animation: expands 0.2s linear;
            z-index: 1000;
        }
    }

    & .iconTextWrapper:hover {
        background-color: #f37f79;
        & div {
            display: block;
            cursor: pointer;
        }
    }

    & .generalInfo {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;

        & .giHeader {
            display: flex;
            align-items: center;
            background-color: #ebebeb;
            justify-content: space-between;
            padding: 15px 5px;

            & .gihGreetings, .gihCapital {
                font-size: 30px;
                font-weight: 500;
                cursor: default;
                user-select: none;
            }
        }

        & .giTitle {
            background-color: rgb(255, 255, 255);
            font-size: 25px;
            padding: 10px;
        }
    }

    & .info {
        display: flex;
        
        & .singularInfo {
            width: 44vw;
            margin: 5px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

.emptyMain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.empty {
    font-size: 20vw;
    color: #f5857f;
    opacity: 0.5;
}

@keyframes tableEntrance {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes expands {
    from {
      max-width: 0;
    }
  
    to {
      max-width: 500px;
    }
  }

@keyframes ulExpands {
    from {
        max-height: 0;
        overflow: hidden;
    }

    to {
        max-height: 80vh;
        overflow: hidden;
    }
}