.salesMain, 
.histMain, 
.clientsMain,
.prodMain {
    width: 50vw;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
  

    & .newSales {
        display: flex;
        align-items: center;

        & div {
            margin: 5px;

            & input {
                padding: 5px;
                width: 14vw;
                border: none;
                outline-color: #c4423b;
            }

            & button {
                padding: 7px 25px;
                font-weight: 600;
                border-radius: 5px;
                background-color: rgb(30, 204, 102);
                color: white;
                border: none;
                cursor: pointer;
            }

            & button:hover {
                background-color: rgb(63, 245, 139);
            }
        }
    }

    & table {
        border-spacing: 0 5px;
        margin: 5px;

        & tr {

            & th {
                background: none;
                color: rgb(148, 44, 44);
                width: 10vw;  
                padding: 5px;
                cursor: default;
                user-select: none;
            }
            
            & td {
                text-align: center;
                cursor: pointer;
                background-color: #f7e6d7;
                margin: 5px;
                padding: 10px 0px;
                font-size: 13px;
            }
        }
    }
}

.check-status {
    font-size: 25px;
    color: rgb(30, 204, 102);
}

.check-status:hover {
    color: rgb(63, 245, 139);
}

.pending-status {
    font-size: 25px;
    color: #F13A43
}

.pending-status:hover {
    color: #fa7178
}

@media (max-width: 768px) {
    .salesMain, 
    .histMain, 
    .clientsMain,
    .prodMain {
        width: 90vw;
        height: auto;
    }

    .newSales {
        flex-direction: column;
        align-items: center;
    }

    .newSales div {
        margin: 10px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newSales input {
        width: 100%;
        padding: 8px;
        font-size: 14px;
    }

    .newSales button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    table {
        font-size: 12px;
        width: 100%;
    }

    th, td {
        padding: 8px;
    }

    form {
        display: flex;
        align-items: center !important;
        justify-content: center;
    }
}